<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bee-vents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>

    <header class="navbar">
        <div class="navbar-left">
            <div class="navbar-logo">MMU</div>
            <div class="navbar-links">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
            </nav>
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('home') }}" class="logout-btn">LOG OUT</a>
        </header>
        
  <main class="content">
    <h2>Manage Account</h2>

    <form class="auth-form" method="POST">
    <label>New Username:</label>
      <input name="username" type="text" placeholder="Enter new username" required />

      <label>New Password:</label>
      <input name="password" type="password" placeholder="Enter new password" required />

      <button type="submit" class="btn login-btn">Save Changes</button>
    </form>
  </main>

</body>
</html>
