<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4e17a4837d046b46379574b8792e8e7d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_4e17a4837d046b46379574b8792e8e7d" ></div>
        
</body>
<script>
    
    
            var map_4e17a4837d046b46379574b8792e8e7d = L.map(
                "map_4e17a4837d046b46379574b8792e8e7d",
                {
                    center: [2.9277816137707204, 101.64190123388995],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 17,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_787cd006fa84e455f9bebb76ad67e8a1 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_787cd006fa84e455f9bebb76ad67e8a1.addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var marker_59b9a595eb7b281a080d4536d87b4600 = L.marker(
                [2.929218001348703, 101.64243684179341],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_d7a2da16a08efc18c0bdd75b473ef386 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_11b0105167e6522982e2a6cebc0dfc21 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_735fc55e8670ab453a5710461f8becf6 = $(`<div id="html_735fc55e8670ab453a5710461f8becf6" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>DTC</h4>         <a href="/create?building=dtc" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_11b0105167e6522982e2a6cebc0dfc21.setContent(html_735fc55e8670ab453a5710461f8becf6);
            
        

        marker_59b9a595eb7b281a080d4536d87b4600.bindPopup(popup_11b0105167e6522982e2a6cebc0dfc21)
        ;

        
    
    
            marker_59b9a595eb7b281a080d4536d87b4600.bindTooltip(
                `<div>
                     DTC
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_59b9a595eb7b281a080d4536d87b4600.setIcon(icon_d7a2da16a08efc18c0bdd75b473ef386);
            
    
            var marker_95279885b932370ef4a494c9874040dc = L.marker(
                [2.9291654299019148, 101.64057166571482],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_48fae6fac624800e2c17dac6117b31d5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_be6e733357ed7298fbeb5c5936f44aff = L.popup({
  "maxWidth": 300,
});

        
            
                var html_9f617197319c39505c1b66b642d7d83a = $(`<div id="html_9f617197319c39505c1b66b642d7d83a" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FCI</h4>         <a href="/building/fci" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_be6e733357ed7298fbeb5c5936f44aff.setContent(html_9f617197319c39505c1b66b642d7d83a);
            
        

        marker_95279885b932370ef4a494c9874040dc.bindPopup(popup_be6e733357ed7298fbeb5c5936f44aff)
        ;

        
    
    
            marker_95279885b932370ef4a494c9874040dc.bindTooltip(
                `<div>
                     FCI
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_95279885b932370ef4a494c9874040dc.setIcon(icon_48fae6fac624800e2c17dac6117b31d5);
            
    
            var marker_8f5f513674fd01b4f82d4356fafc797f = L.marker(
                [2.9300947248194165, 101.64130911229677],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_0253d6c27d5e94c0a1c810993a4ec719 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1994a4421e9dbedbe2b9e8965ed76c0c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_ba7fa1c80d5fdc2332de52bf29e5a793 = $(`<div id="html_ba7fa1c80d5fdc2332de52bf29e5a793" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FOM</h4>         <a href="/building/fom" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_1994a4421e9dbedbe2b9e8965ed76c0c.setContent(html_ba7fa1c80d5fdc2332de52bf29e5a793);
            
        

        marker_8f5f513674fd01b4f82d4356fafc797f.bindPopup(popup_1994a4421e9dbedbe2b9e8965ed76c0c)
        ;

        
    
    
            marker_8f5f513674fd01b4f82d4356fafc797f.bindTooltip(
                `<div>
                     FOM
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8f5f513674fd01b4f82d4356fafc797f.setIcon(icon_0253d6c27d5e94c0a1c810993a4ec719);
            
    
            var marker_6d12db61995a671c14649bd008074c3a = L.marker(
                [2.92660434513222, 101.64118197322395],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_7e2f9b752a862877d2528eb57007e595 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_16760e2024b7550e9f608cfb978b940c = L.popup({
  "maxWidth": 300,
});

        
            
                var html_580f5be1545398a8232d5902a640c9c9 = $(`<div id="html_580f5be1545398a8232d5902a640c9c9" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FOE</h4>         <a href="/create?building=foe" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_16760e2024b7550e9f608cfb978b940c.setContent(html_580f5be1545398a8232d5902a640c9c9);
            
        

        marker_6d12db61995a671c14649bd008074c3a.bindPopup(popup_16760e2024b7550e9f608cfb978b940c)
        ;

        
    
    
            marker_6d12db61995a671c14649bd008074c3a.bindTooltip(
                `<div>
                     FOE
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_6d12db61995a671c14649bd008074c3a.setIcon(icon_7e2f9b752a862877d2528eb57007e595);
            
    
            var marker_6e6e4f86feaffbe3ad433bc87f24ebc8 = L.marker(
                [2.9262734371401344, 101.6431866497752],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_18a6f5279acf32f91cd60699b1409726 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_185d08e7d380cc75168ea0996d5ff8e4 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_5247b1cb32b237872fadf07aa3cbabb9 = $(`<div id="html_5247b1cb32b237872fadf07aa3cbabb9" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FCM</h4>         <a href="/building/fcm" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_185d08e7d380cc75168ea0996d5ff8e4.setContent(html_5247b1cb32b237872fadf07aa3cbabb9);
            
        

        marker_6e6e4f86feaffbe3ad433bc87f24ebc8.bindPopup(popup_185d08e7d380cc75168ea0996d5ff8e4)
        ;

        
    
    
            marker_6e6e4f86feaffbe3ad433bc87f24ebc8.bindTooltip(
                `<div>
                     FCM
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_6e6e4f86feaffbe3ad433bc87f24ebc8.setIcon(icon_18a6f5279acf32f91cd60699b1409726);
            
    
            var marker_10fe354b940fb60adbcdf49565049d0d = L.marker(
                [2.928231851893708, 101.6424075166555],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_48772a7cbd80cbc6c8803262e0dd3a3e = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c3a82181c4ef7322560a9ba3e4e39682 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_3349c625def6c6ce98fd88f069c2b859 = $(`<div id="html_3349c625def6c6ce98fd88f069c2b859" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>MPH</h4>         <a href="/create?building=mph" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_c3a82181c4ef7322560a9ba3e4e39682.setContent(html_3349c625def6c6ce98fd88f069c2b859);
            
        

        marker_10fe354b940fb60adbcdf49565049d0d.bindPopup(popup_c3a82181c4ef7322560a9ba3e4e39682)
        ;

        
    
    
            marker_10fe354b940fb60adbcdf49565049d0d.bindTooltip(
                `<div>
                     MPH
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_10fe354b940fb60adbcdf49565049d0d.setIcon(icon_48772a7cbd80cbc6c8803262e0dd3a3e);
            
    
            var marker_4df73b65042392a6e4fd6d1fe86d3a8f = L.marker(
                [2.9280263906308175, 101.64424507685604],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_24e44d54c19ef80f80b91f5a15897bbd = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4064fc2922ac9446b7c561b3d2d8af97 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_a6a0a8b28a8cfdec76bfc19ffb4e2424 = $(`<div id="html_a6a0a8b28a8cfdec76bfc19ffb4e2424" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>STADIUM</h4>         <a href="/create?building=stadium" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_4064fc2922ac9446b7c561b3d2d8af97.setContent(html_a6a0a8b28a8cfdec76bfc19ffb4e2424);
            
        

        marker_4df73b65042392a6e4fd6d1fe86d3a8f.bindPopup(popup_4064fc2922ac9446b7c561b3d2d8af97)
        ;

        
    
    
            marker_4df73b65042392a6e4fd6d1fe86d3a8f.bindTooltip(
                `<div>
                     STADIUM
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_4df73b65042392a6e4fd6d1fe86d3a8f.setIcon(icon_24e44d54c19ef80f80b91f5a15897bbd);
            
    
            var marker_8eb939e1332c65128c3292efb1f0275b = L.marker(
                [3.0459, 101.6163],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_b1ce64b001463c7bff055d7b23c703ed = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d2169303c8fe51b1b3e56b675c0d2c6f = L.popup({
  "maxWidth": 300,
});

        
            
                var html_35f6ba50f3ed39d21291d15c7ce37dfe = $(`<div id="html_35f6ba50f3ed39d21291d15c7ce37dfe" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>SPORTS COMPLEX</h4>         <a href="/create?building=sports complex" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_d2169303c8fe51b1b3e56b675c0d2c6f.setContent(html_35f6ba50f3ed39d21291d15c7ce37dfe);
            
        

        marker_8eb939e1332c65128c3292efb1f0275b.bindPopup(popup_d2169303c8fe51b1b3e56b675c0d2c6f)
        ;

        
    
    
            marker_8eb939e1332c65128c3292efb1f0275b.bindTooltip(
                `<div>
                     SPORTS COMPLEX
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8eb939e1332c65128c3292efb1f0275b.setIcon(icon_b1ce64b001463c7bff055d7b23c703ed);
            
    
            var marker_ddc113eea31ebc4e31b436bba8db21c8 = L.marker(
                [2.9286172521341705, 101.64366774108161],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_de89b2e666e77b7cb80c317c4069729b = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_91deccb95d1e50531c34c2026d695795 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_6deb16d5168756f8533c26b9e7b6235b = $(`<div id="html_6deb16d5168756f8533c26b9e7b6235b" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>SWIMMING POOL COMPLEX</h4>         <a href="/create?building=swimming pool complex" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_91deccb95d1e50531c34c2026d695795.setContent(html_6deb16d5168756f8533c26b9e7b6235b);
            
        

        marker_ddc113eea31ebc4e31b436bba8db21c8.bindPopup(popup_91deccb95d1e50531c34c2026d695795)
        ;

        
    
    
            marker_ddc113eea31ebc4e31b436bba8db21c8.bindTooltip(
                `<div>
                     SWIMMING POOL COMPLEX
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_ddc113eea31ebc4e31b436bba8db21c8.setIcon(icon_de89b2e666e77b7cb80c317c4069729b);
            
    
            var marker_51f6b2a89168454aa0db8392f432d654 = L.marker(
                [2.9278483211464947, 101.64249536771976],
                {
}
            ).addTo(map_4e17a4837d046b46379574b8792e8e7d);
        
    
            var icon_1f8853d0cd7e98e661afd4dc98c156c2 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_dc692661a3e81db3993ee982144302b6 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_8fb837cd33cae2ce9c28870db7b2b62b = $(`<div id="html_8fb837cd33cae2ce9c28870db7b2b62b" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>CLC</h4>         <a href="/building/clc" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_dc692661a3e81db3993ee982144302b6.setContent(html_8fb837cd33cae2ce9c28870db7b2b62b);
            
        

        marker_51f6b2a89168454aa0db8392f432d654.bindPopup(popup_dc692661a3e81db3993ee982144302b6)
        ;

        
    
    
            marker_51f6b2a89168454aa0db8392f432d654.bindTooltip(
                `<div>
                     CLC
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_51f6b2a89168454aa0db8392f432d654.setIcon(icon_1f8853d0cd7e98e661afd4dc98c156c2);
            
</script>
</html>