<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_205ad05c2007c08f63d535892d99f262 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_205ad05c2007c08f63d535892d99f262" ></div>
        
</body>
<script>
    
    
            var map_205ad05c2007c08f63d535892d99f262 = L.map(
                "map_205ad05c2007c08f63d535892d99f262",
                {
                    center: [2.9277816137707204, 101.64190123388995],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 17,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_356a552658f499cec7e81606282ea08c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_356a552658f499cec7e81606282ea08c.addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var marker_23ce3f2bd5224418ab50ed482348611d = L.marker(
                [2.929218001348703, 101.64243684179341],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_e463990527c047758546ee72234bcb51 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_de748600aa8a47bdd40042948d9e267a = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7831071959d57fbef3e7448e02b6a4ab = $(`<div id="html_7831071959d57fbef3e7448e02b6a4ab" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>DTC</h4>         <a href="/create?building=dtc" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_de748600aa8a47bdd40042948d9e267a.setContent(html_7831071959d57fbef3e7448e02b6a4ab);
            
        

        marker_23ce3f2bd5224418ab50ed482348611d.bindPopup(popup_de748600aa8a47bdd40042948d9e267a)
        ;

        
    
    
            marker_23ce3f2bd5224418ab50ed482348611d.bindTooltip(
                `<div>
                     DTC
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_23ce3f2bd5224418ab50ed482348611d.setIcon(icon_e463990527c047758546ee72234bcb51);
            
    
            var marker_df98c72cd209c5a1e349d92146c8c7d8 = L.marker(
                [2.9291654299019148, 101.64057166571482],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_c675da80f43dcf2e36e2f10c5bc8788d = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_461e94677b2dece4326025de162306da = L.popup({
  "maxWidth": 300,
});

        
            
                var html_9f6d38506dd3a66aab088da540b665aa = $(`<div id="html_9f6d38506dd3a66aab088da540b665aa" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FCI</h4>         <a href="/building/fci" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_461e94677b2dece4326025de162306da.setContent(html_9f6d38506dd3a66aab088da540b665aa);
            
        

        marker_df98c72cd209c5a1e349d92146c8c7d8.bindPopup(popup_461e94677b2dece4326025de162306da)
        ;

        
    
    
            marker_df98c72cd209c5a1e349d92146c8c7d8.bindTooltip(
                `<div>
                     FCI
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_df98c72cd209c5a1e349d92146c8c7d8.setIcon(icon_c675da80f43dcf2e36e2f10c5bc8788d);
            
    
            var marker_1de410fb64cf5f2202e91a830a4745e9 = L.marker(
                [2.9300947248194165, 101.64130911229677],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_f40a7c9df1a19129dec0dbf27adf884c = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_9563002ebadd88d40ddb3c0e647ae15e = L.popup({
  "maxWidth": 300,
});

        
            
                var html_7509ff0f737fcb66e0e71039efd03fc6 = $(`<div id="html_7509ff0f737fcb66e0e71039efd03fc6" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FOM</h4>         <a href="/building/fom" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_9563002ebadd88d40ddb3c0e647ae15e.setContent(html_7509ff0f737fcb66e0e71039efd03fc6);
            
        

        marker_1de410fb64cf5f2202e91a830a4745e9.bindPopup(popup_9563002ebadd88d40ddb3c0e647ae15e)
        ;

        
    
    
            marker_1de410fb64cf5f2202e91a830a4745e9.bindTooltip(
                `<div>
                     FOM
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_1de410fb64cf5f2202e91a830a4745e9.setIcon(icon_f40a7c9df1a19129dec0dbf27adf884c);
            
    
            var marker_a1a5f2cac8b3ef5dbd49e38a826d7f0b = L.marker(
                [2.92660434513222, 101.64118197322395],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_8b41b1f93a5263acb465cd83bc186f44 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_623181b779b810c249f469399cfb62b3 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_ce8f9eab5e71c0dc06093e3fdfd48a0a = $(`<div id="html_ce8f9eab5e71c0dc06093e3fdfd48a0a" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FOE</h4>         <a href="/create?building=foe" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_623181b779b810c249f469399cfb62b3.setContent(html_ce8f9eab5e71c0dc06093e3fdfd48a0a);
            
        

        marker_a1a5f2cac8b3ef5dbd49e38a826d7f0b.bindPopup(popup_623181b779b810c249f469399cfb62b3)
        ;

        
    
    
            marker_a1a5f2cac8b3ef5dbd49e38a826d7f0b.bindTooltip(
                `<div>
                     FOE
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_a1a5f2cac8b3ef5dbd49e38a826d7f0b.setIcon(icon_8b41b1f93a5263acb465cd83bc186f44);
            
    
            var marker_8f31eead6a8e3528291d1de2fa5a8da4 = L.marker(
                [2.9262734371401344, 101.6431866497752],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_aa05ad1618be5427983902c460f334a7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1fbe5bfdfa4848cc6d70c901b1616103 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_bf7554cb97edddc219d716db352c8ada = $(`<div id="html_bf7554cb97edddc219d716db352c8ada" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>FCM</h4>         <a href="/building/fcm" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_1fbe5bfdfa4848cc6d70c901b1616103.setContent(html_bf7554cb97edddc219d716db352c8ada);
            
        

        marker_8f31eead6a8e3528291d1de2fa5a8da4.bindPopup(popup_1fbe5bfdfa4848cc6d70c901b1616103)
        ;

        
    
    
            marker_8f31eead6a8e3528291d1de2fa5a8da4.bindTooltip(
                `<div>
                     FCM
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8f31eead6a8e3528291d1de2fa5a8da4.setIcon(icon_aa05ad1618be5427983902c460f334a7);
            
    
            var marker_816e0338f8d85a3755c2b934fe3b62e4 = L.marker(
                [2.928231851893708, 101.6424075166555],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_06a305958ef76cb22fea5a8808a20510 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b585d5c33579a86afa988aa6dcf3b5db = L.popup({
  "maxWidth": 300,
});

        
            
                var html_c63a2f3c8eb01b66da85b69a20620df5 = $(`<div id="html_c63a2f3c8eb01b66da85b69a20620df5" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>MPH</h4>         <a href="/create?building=mph" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_b585d5c33579a86afa988aa6dcf3b5db.setContent(html_c63a2f3c8eb01b66da85b69a20620df5);
            
        

        marker_816e0338f8d85a3755c2b934fe3b62e4.bindPopup(popup_b585d5c33579a86afa988aa6dcf3b5db)
        ;

        
    
    
            marker_816e0338f8d85a3755c2b934fe3b62e4.bindTooltip(
                `<div>
                     MPH
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_816e0338f8d85a3755c2b934fe3b62e4.setIcon(icon_06a305958ef76cb22fea5a8808a20510);
            
    
            var marker_79009d417fbdaa13364e261734014d35 = L.marker(
                [2.9280263906308175, 101.64424507685604],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_1f104d47146128e9c921c32c19b17a93 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_78411853081889f6dd850ae1df5ad3e5 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_b0bea6b946cba184daf4f1560800dbbe = $(`<div id="html_b0bea6b946cba184daf4f1560800dbbe" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>STADIUM</h4>         <a href="/create?building=stadium" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_78411853081889f6dd850ae1df5ad3e5.setContent(html_b0bea6b946cba184daf4f1560800dbbe);
            
        

        marker_79009d417fbdaa13364e261734014d35.bindPopup(popup_78411853081889f6dd850ae1df5ad3e5)
        ;

        
    
    
            marker_79009d417fbdaa13364e261734014d35.bindTooltip(
                `<div>
                     STADIUM
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_79009d417fbdaa13364e261734014d35.setIcon(icon_1f104d47146128e9c921c32c19b17a93);
            
    
            var marker_bc1f904f27a57285d5383476cca9e026 = L.marker(
                [3.0459, 101.6163],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_d96cdca3a5854a0f92c173a2453e3b03 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5e63281af859cc7463cdebf9c0e18d37 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_41857b5a0b47f3c8e805d450c2d2273f = $(`<div id="html_41857b5a0b47f3c8e805d450c2d2273f" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>SPORTS COMPLEX</h4>         <a href="/create?building=sports_complex" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_5e63281af859cc7463cdebf9c0e18d37.setContent(html_41857b5a0b47f3c8e805d450c2d2273f);
            
        

        marker_bc1f904f27a57285d5383476cca9e026.bindPopup(popup_5e63281af859cc7463cdebf9c0e18d37)
        ;

        
    
    
            marker_bc1f904f27a57285d5383476cca9e026.bindTooltip(
                `<div>
                     SPORTS COMPLEX
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_bc1f904f27a57285d5383476cca9e026.setIcon(icon_d96cdca3a5854a0f92c173a2453e3b03);
            
    
            var marker_59ac98cada297025f4613443bfed2933 = L.marker(
                [2.9286172521341705, 101.64366774108161],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_6f94451e8ff097ba026900bb1b5ee970 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_57c2ff3377bc7f8aebcb2b54f9a616c6 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_52ff56c5efdfe1298385dc16a544c957 = $(`<div id="html_52ff56c5efdfe1298385dc16a544c957" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>SWIMMING POOL COMPLEX</h4>         <a href="/create?building=swimming_pool_complex" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_57c2ff3377bc7f8aebcb2b54f9a616c6.setContent(html_52ff56c5efdfe1298385dc16a544c957);
            
        

        marker_59ac98cada297025f4613443bfed2933.bindPopup(popup_57c2ff3377bc7f8aebcb2b54f9a616c6)
        ;

        
    
    
            marker_59ac98cada297025f4613443bfed2933.bindTooltip(
                `<div>
                     SWIMMING POOL COMPLEX
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_59ac98cada297025f4613443bfed2933.setIcon(icon_6f94451e8ff097ba026900bb1b5ee970);
            
    
            var marker_81a3269c4649ee2efa0b2cc1e71cabef = L.marker(
                [2.9278483211464947, 101.64249536771976],
                {
}
            ).addTo(map_205ad05c2007c08f63d535892d99f262);
        
    
            var icon_a5342e31fdb2f73cb4247c4cfe85dbfa = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "university",
  "prefix": "fa",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_487ce72c16d341b8e37430608f5a56d2 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_94d5c926ad11375f51bd08273cfc4c09 = $(`<div id="html_94d5c926ad11375f51bd08273cfc4c09" style="width: 100.0%; height: 100.0%;">     <div style="text-align: center;">         <h4>CLC</h4>         <a href="/building/clc" target="_top" style="             display: inline-block;             padding: 6px 12px;             margin-top: 5px;             background-color: #007bff;             color: white;             text-decoration: none;             border-radius: 5px;             font-size: 14px;">             Click         </a>     </div>     </div>`)[0];
                popup_487ce72c16d341b8e37430608f5a56d2.setContent(html_94d5c926ad11375f51bd08273cfc4c09);
            
        

        marker_81a3269c4649ee2efa0b2cc1e71cabef.bindPopup(popup_487ce72c16d341b8e37430608f5a56d2)
        ;

        
    
    
            marker_81a3269c4649ee2efa0b2cc1e71cabef.bindTooltip(
                `<div>
                     CLC
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_81a3269c4649ee2efa0b2cc1e71cabef.setIcon(icon_a5342e31fdb2f73cb4247c4cfe85dbfa);
            
</script>
</html>