<!DOCTYPE html>
<html>

<head>
    <title>Book Room {{ room_id }}</title>
</head>

<body>
    <h2>Booking: Room {{room_id}}</h2>
    <form method="POST">
        <label>Number of People (Pax):</label>
        <input type="number" name="pax" required>
        <br>

        <label>Date:</label>
        <input type="date" name="date" required>
        <br>

        <label>Time:</label>
        <input type="time" name="time" required>
        <br>

        <button type="submit">Submit Booking</button>

    </form>
</body>
</html>